
/*
.grand_parent{ width: 100vw; height:100vh;
    background-image:url('https://coolbackgrounds.io/images/unsplash/anders-jilden-medium-5d01610e.jpg');
    background-size:cover;
    background-repeat:repeat;
    background-position: center; 

}
.parents{ width: 80vw; height: auto; margin: auto;
    display: flex;  justify-content: space-around;
    flex-wrap: wrap; transition: all 0.2 linear;
}
.child{
    
    height: auto;
    /* background:#ed8b8b; */
    /*box-shadow: 0 0 10px #bac3c3;
    padding:40px;
    flex:1 1 20px;
    margin: 80px;
    
    
}
.child:first-child{
    margin-top: 100px;
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.8);
    height: auto;
    width:'10px';
   
}
.child:last-child{
    margin-top: 100px;
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.8);
    height:auto;
}
@media (max-width: 768px){
    .grand_parent{height:auto; }
}*/
 /* **************************************************************************** */

 .buttons .btn{
    padding:10px;
    border-radius: 25px;
    border:rgb(249, 250, 243) solid;
    color: aliceblue;
    background-color: blue;
  }
  .buttons .btn:hover{
    border-radius: 20px;
    border:rgb(172, 25, 191) solid;
  }
  .textcontent p{
    font-size: 20px;
    color: rgb(244, 245, 246);
  }
  .Homepage {
    /* position:relative; */
    display: flex;
  

    min-height: 85vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:60px;
     background-image: url('C:\Users\saiprasad\Downloads\viggo-danielsen-YhKi49Laoss-unsplash.jpg');
    background-size:cover;
    background-position: center;
   
  }
  .view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .abc{
    color:rgb(244, 243, 249);
    text-align: center;
  }
  .textcontent:first-child {
    order:1;
    /* flex: 1; */
  }
  
  .imgcontent:last-child {
    order:2
  }
  
  .wimage {
    max-width: 100%;
    width:500px;
    height: auto;
  }
  /* .textcontent {
    flex: 0 0 50%;
    max-width: 70%;
  } */
 
  @media (max-width: 768px) {
    .Homepage {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .imgcontent {
      text-align: center;
    }
  }













    








